
<template name="confirm_update_dialog">
  <div class="thumbnail" id="confirm_update_dialog">


    <div class="caption">

      <center>
      <button type="button" class="btn btn-secondary" id="cancel_submit"
                      data-dismiss="modal">
                          <i class="glyphicon glyphicon-remove"></i>
      </button>
      <button type="button" class="btn btn-secondary" id="confirm_submit">
                          <i class="glyphicon glyphicon-ok"></i>
      </button>
    </center>
    </div>

  </div>
</template>
