<template name="feed">

	<div class="container-fluid">

	<div class="row">
		
		<div id="map" class="col-md-6 collapse width map">
            <h1>RioTor is here!</h1>
		</div>

		<div class="col-md-6 feed">
			
			<div class="feed-title">
				<h1>RioTor</h1>
			</div>
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#map" aria-expanded="false" aria-controls="map">Map</button>
			<div class="post">
			<h4>This is something rad</h4>
			<small>28 Jan 2016, 4:00 pm</small>
			</div>

			<div class="post">
			<h4>This is something rad</h4>
			<small>28 Jan 2016, 4:00 pm</small>
			</div>

			<div class="post">
			<h4>This is something rad</h4>
			<small>28 Jan 2016, 4:00 pm</small>
			</div>

			<div class="post">
			<h4>This is something rad</h4>
			<small>28 Jan 2016, 4:00 pm</small>
			</div>
		</div>

	</div>

	</div>

</template>
