<template name="feed">

	<div class="container-fluid">

	<div class="row">

		<!--<div id="map" class="col-md-6 collapse width map">
            <h1>RioTor is here!</h1>
		</div>
    -->

		<div class="col-md-6 feed">

			<div class="feed-title">
				<h1>RioTor</h1>
			</div>
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#map" aria-expanded="false" aria-controls="map">Map</button>
			<div class="post">
			<h4>This is something rad</h4>
			<small>28 Jan 2016, 4:00 pm</small>
			</div>

			<div class="post">
			<h4>This is something rad</h4>
			<small>28 Jan 2016, 4:00 pm</small>
			</div>

			<div class="post">
			<h4>This is something rad</h4>
			<small>28 Jan 2016, 4:00 pm</small>
			</div>

			<div class="post">
			<h4>This is something rad</h4>
			<small>28 Jan 2016, 4:00 pm</small>
			</div>
		</div>

	</div>

	</div>

</template>

<template name="feedtwo">

      <div id="wrapper">

        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">
                        {{>mainmap}}
                    </div>
                </div>
            </div>
        </div>

          <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                  <li class="active">
                      <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
                         <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                          <li><a href="#">link1</a></li>
                          <li><a href="#">link2</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span> Shortcut</a>
                      <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                          <li><a href="#"><span class="fa-stack fa-lg pull-right"><i class="fa fa-flag fa-stack-1x "></i></span>link1</a></li>
                          <li><a href="#"><span class="fa-stack fa-lg pull-right"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>

                      </ul>
                  </li>
                  <li>
                      <a href="#"><span class="fa-stack fa-lg pull-right"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
                  </li>
                  <li>
                      <a href="#"> <span class="fa-stack fa-lg pull-right"><i class="fa fa-cart-plus fa-stack-1x "></i></span>Events</a>
                  </li>
                  <li>
                      <a href="#"><span class="fa-stack fa-lg pull-right"><i class="fa fa-youtube-play fa-stack-1x "></i></span>About</a>
                  </li>
                  <li>
                      <a href="#"><span class="fa-stack fa-lg pull-right"><i class="fa fa-wrench fa-stack-1x "></i></span>Services</a>
                  </li>
                  <li>
                      <a href="#"><span class="fa-stack fa-lg pull-right"><i class="fa fa-server fa-stack-1x "></i></span>Contact</a>
                  </li>
              </ul>
          </div><!-- /#sidebar-wrapper -->
          <!-- Page Content -->


          <!-- /#page-content-wrapper -->
      </div>
</template>
