<template name="home">
    {{> nav_landing}}
    <row>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="landing-container">
                <img class="img-responsive" src="/images/riotor-main.png">
                <div class="rioting-text">
                    <button type="button" class="rioting-button" data-toggle="collapse" data-target="#rioting">What is Rioting?</button>
                    <div id="rioting" class="collapse">To not conform.
                        <br>To not look down,
                        <br>or away.
                        <br>To go out.
                        <br>To stand up
                        <br>
                    </div>
                    <!--{{> home_buttons}}-->
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </row>
</template>
<template name="home_buttons">
    <div class="thumbnail" id="home_buttons">
        <div class="input-group">
            <input type="text" class="form-control search_bar" placeholder="Search for...">
            <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </span>
        </div>
        <div class="caption">
            <button type="button" class="btn btn-primary main_button" data-dismiss="modal">
                SignUp
            </button>
            <button type="button" class="btn btn-primary main_button">
                SignIn
            </button>
        </div>
    </div>
</template>