<!-- Modal -->
<template name="new_update_dialog">
    <div class="modal fade" id="new_update_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                      Add Update
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <h4>Alert Type:</h4>
                    <select id="selectTag">
                      <option value="other">other</option>
                      <option value="speaker">speaker <i class="glyphicon glyphicon-bullhorn"></i></option>
                      <option value="police">police</option>
                      <option value="food">food</option>
                      <option value="supplies">supplies</option>
                      <option value="medic">medic</option>
                      <option value="shelter">shelter</option>
                      <option value="water">water</option>
                      <option value="press">press</option>
                      <option value="assembly">assembly</option>
                    </select>
                    <form role="form">
                        <div class="form-group">
                            <label for="inputMessage">Message</label>
                            <input type="text" class="form-control" id="inputMessage" placeholder="Tell us what's happening" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="private" type="checkbox" /> Private
                            </label>
                        </div>
                    </form>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <button id="confirmText" type="button" class="btn btn-primary" data-dismiss="modal">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
