<!-- Modal -->
<template name="new_update_dialog">
    <div class="modal fade" id="new_update_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                      Add Update
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <h4>Alert Type:</h4>
                    <ul class="pagination">
                        <li><a href="#"><i class="glyphicon glyphicon-music"></i></a></li>
                        <li><a href="#">..</a></li>
                        <li><a href="#">..</a></li>
                        <li><a href="#">..</a></li>
                        <li><a href="#">..</a></li>
                        <li><a href="#">..</a></li>
                        <li><a href="#">..</a></li>
                        <li><a href="#">..</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-bullhorn"></i></a></li>
                    </ul>
                    <form role="form">
                        <div class="form-group">
                            <label for="inputMessage">Message</label>
                            <input type="text" class="form-control" id="inputMessage" placeholder="Tell us what's happening" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" /> Private
                            </label>
                        </div>
                    </form>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <button id="confirmText" type="button" class="btn btn-primary">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<!--template name="confirm_update_dialog">
    <div class="thumbnail" id="confirm_update_dialog">
        <div class="caption">
            <h3>Thumbnail label</h3>
            <center>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button id="confirm" type="button" class="btn btn-primary">
                    Confirm
                </button>
            </center>
        </div>
    </div>
</template-->
