<!-- Modal -->
<template name="new_update_dialog">
    <div class="modal fade" id="new_update_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                      Add Update
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <h4>Alert Type:</h4>
                    <select id="selectTag" class="form-control">
                      <option value="ion-ios-location">location</option>
                      <option value="ion-speakerphone">rally</option>
                      <option value="ion-mic-b">speaker</option>
                      <option value="glyphicon glyphicon-apple">food</option>
                      <option value="ion-waterdrop">water</option>
                      <option value="ion-ios-cart">supplies</option>
                      <option value="ion-home">shelter</option>
                      <option value="ion-alert-circled">alert</option>
                      <option value="ion-medkit">medic</option>
                      <option value="ion-videocamera">media</option>
                      <option value="glyphicon glyphicon-eye-open">eye</option>
                    </select>
  <ul class="pagination pagnation-lg">

    <li class="update_type_button"> <a href="#" value="ion-ios-location"><i class="ion-ios-location"></i></a></li>
    <li class="update_type_button"> <a href="#" value="ion-speakerphone"><i class="ion-speakerphone"></i></a></li>
    <li  class="update_type_button"> <a href="#" value="ion-mic-b" ><i class="ion-mic-b"></i></a></li>
    <li class="update_type_button"><a href="#" value="glyphicon glyphicon-apple"><i class="glyphicon glyphicon-apple"></i></a></li>
    <li class="update_type_button"><a href="#"  value="ion-waterdrop"><i class="ion-waterdrop"></i></a></li>
    <li  class="update_type_button"><a href="#" value="ion-ios-cart"><i class="ion-ios-cart"></i></a></li>
    <li class="update_type_button"><a href="#" value="ion-home"><i class="ion-home"></i></a></li>
    <li class="update_type_button"><a href="#" value="ion-alert-circled"><i class="ion-alert-circled"></i></a></li>
    <li class="update_type_button"><a href="#" value="ion-medkit"><i class="ion-medkit"></i></a></li>
    <li class="update_type_button"><a href="#" value="ion-videocamera"><i class="ion-videocamera"></i></a></li>
    <li  class="update_type_button"><a href="#" value="glyphicon glyphicon-eye-open"><i class="glyphicon glyphicon-eye-open"></i></a></li>

  </ul>

                    <form role="form">
                        <div class="form-group">
                            <label for="inputMessage">Message</label>
                            <input type="text" class="form-control" id="inputMessage" placeholder="Tell us what's happening" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="private" type="checkbox" /> Private
                            </label>
                        </div>
                    </form>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <button id="confirmText" type="button" class="btn btn-primary" data-dismiss="modal">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
